{% extends 'base.html' %}
{% load static %}

{% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/vessels/vessel-index.css' %}"
/>
{% endblock %}


{% block content %}

<section class="page-header">
  <h1>Vessel List</h1>

</section>

<section class="card-container">
  {% for vessel in vessels %}
  <div class="card">
    <a href='{% url 'vessel-detail' vessel.id %}'>
      <div class="card-content">
        <div class="card-img-container">
          <img
            {% comment %} src="{% static 'images/Memorial_Markers_Minutemen_700x700.webp' %}" {% endcomment %}
            alt="A template vessel placeholder"
          />
        </div>
        <h2 class="card-title">{{ vssel.name }}</h2>
        <p><small>{{ vessel.mmsi }}</small></p>
      </div>
    </a>  
  </div>
  {% endfor %}
</section>

{% endblock %}
