{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <img class='logo' src="{% static 'images/Vessel Tracker Logo_Horizontal.png' %}" alt="Maritime Vessel Tracker Logo" />

    <title>Maritime Vessel Tracker</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />


    {% block head %} 
    {% endblock %}

  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img src="{% static 'images/favicon.png' %}" alt="The Maritime Vessel Tracker Favicon"/>
        </a>
      </div>
      <nav>
        
        
        {% if user.is_authenticated %}
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'myvessels' %}">My Vessels</a>
          <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="nav-link-button">
              Logout
            </button>
          </form>
          
        {% else %}
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'login' %}">Sign In</a>
          <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
      </nav>
    </header>
    <main>

     {% block content %} 
     {% endblock %}

     {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}

     </main>
  </body>
</html>
