
{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/home.css' %}"
/>
{% endblock %} {% block content %}

<section class="logo-container">
  <div class="marker-container">
    <img
      {% comment %} src="{% static 'images/splash.svg' %}"
      alt="The Cat Collector Cat" {% endcomment %}
    />
  </div>
  <img
    {% comment %} src="{% static 'images/logotype.svg' %}"
    alt="Text reads: Cat Collector" {% endcomment %}
  />
</section>

{% endblock %}
