{% extends "base.html" %}

{% block content %}
<h1>My Vessels</h1>

<form method="post" action="{% url 'api_update_all_locations' %}">
  {% csrf_token %}
  <button type="submit">Update ALL locations</button>
</form>


{% if vessels %}
<table border="1" cellpadding="6" cellspacing="0" style="width:100%; max-width:1000px;">
  <thead>
    <tr>
      <th>Name</th>
      <th>MMSI</th>
      <th>IMO</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Timestamp</th>
      <th>Update Location</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
  {% for v in vessels %}
    {% with p=v.latest_position %}
    <tr>

      <td>
        <a href="{% url 'myvessels_detail' v.id %}">
          {{ v.name|default:"(Unnamed)" }}
        </a>
      </td>

        <td>{{ v.mmsi }}</td>
        <td>{{ v.imo|default:"—" }}</td>

        <td>{% if p %}{{ p.lat }}{% else %}—{% endif %}</td>
        <td>{% if p %}{{ p.lng }}{% else %}—{% endif %}</td>
        <td>{% if p %}{{ p.ts }}{% else %}—{% endif %}</td>
        <td>
          <form method="post" action="/api/my-vessels/{{ v.mmsi }}/update-location/">
            {% csrf_token %}
            <button type="submit">Update location</button>
          </form>
      </td>
      <td>
        <form method="post" action="{% url 'myvessels_delete' v.id %}">
          {% csrf_token %}
          <button type="submit" onclick="return confirm('Delete this vessel?')">
            Delete
          </button>
        </form>
      </td>
    </tr>
    {% endwith %}
  {% endfor %}
  </tbody>
</table>

{% else %}
<p>You haven't saved any vessels yet.</p>
{% endif %}

<br>
<a href="/">Back to Home</a>
{% endblock %}